.main-title {
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 60px;
}

.fatto-format {
    text-decoration: line-through;
}

table {
    text-align: center;
    width: 40%;
    border-spacing: 0px 15px;
}

td {
    font-size: 20px;
    border-spacing: 0px 15px;

}