table {
	position: absolute;
	top: 50%;
	left: 40%;
	margin: auto;
	width: 15%;
	text-align: center;
}

.insert {
	position: absolute;
	top: 40%;
	left: 40%;
}

.completed {
	text-decoration: line-through;
}
