.main-title {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
}

table {
    margin: auto;
    width: 60%;
    border-spacing: 0px 15px;
    text-align: center;
}

.alert {
    color: red;
    text-align: center;
}

.highlight {
    background-color: yellow;
}
