table {
    border-spacing: 0px 15px;
    margin: auto;
    width: 30%;
    text-align: center;
}

.titolo {
    text-align: center;
    font-size: 50px;
}

.container {
    text-align: center;
}

.bassa {
    color: green;
}

.media {
    color: yellow;
}

.alta {
    color: red;
}

.completato {
    text-decoration: line-through;
}