#todo-list {
    text-align: center;
}

.priority-0 {
    color: red;
}


.priority-1 {
    color: yellow;
}

.priority-2 {
    color: green;
}

.action {
    cursor: pointer;
}

.done-todo {
    color: black;
}

.done {
    color: green;
}

.remove {
    color: red;
}

.description-done {
    text-decoration: line-through;
}
