.titolo {
    text-align: center;
    font-size: 60px;
}

.contenitore {
    text-align: center;
}

table {
    margin: auto;
    width: 40%;
    border-spacing: 0px 15px;
    text-align: center;
}

.bassa {
    color: green;
}

.media {
    color: yellow;
}

.alta {
    color: red;
}
