body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-family:fantasy;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

hr {
    width: 100%;
    border: 10px solid grey;
    border-radius: 5px;
}

.barrato {
    text-decoration: line-through;
}